.layout-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg-main);
  width: 100%;
  position: relative;
}

.layout-main {
  flex: 1;
  margin-left: 260px; /* Ancho del Sidebar */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 2rem;
}

@media (max-width: 1300px) {
  .layout-main {
    margin-left: 0;
    padding: 1rem;
    padding-top: 4rem;
  }
}
